.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	overflow-y: hidden;
	background-color: #f1f1f1;
}

.cat-image {
	height: 350px;
	width: 350px;
	object-fit: contain;
}

.quote-text {
	font-size: medium;
	font-weight: 700;
	margin: 3%;
}

.btn {
	border: 0;
	background: rgb(48, 160, 4);
	color: #fff;
	padding: 1%;
	border-radius: 7.5px;
	font-size: 15px;
}
